@font-face {
  	font-family: 'Yu Gothic';
  	font-style: normal;
    font-weight: normal;
  	src: url('../fonts/yugothic.ttf') format('truetype');
}
* {
  font-family: 'Yu Gothic';
  font-size: 9px;
}

body {
  font-size: 9px;
  width: 700px;
}


.container {
	width: 700px;
}

table {
	margin-top: 22px;
	width: 700px;
	border-left: 0.5px solid #000000;
	border-top: 0.5px solid #000000;
}

tr{
 text-align:center;
 vertical-align:middle;
}

td{
 text-align:center; 
 vertical-align:middle;
 height: 28px;

 border-right: 0.5px solid #000000;
 border-bottom: 0.5px solid #000000;
}

tr.old {
	background: #ccecff;
}

.header {
	background: #D9D9D9;
}

.bottom-line {
	border-bottom: 1.5px solid #000000;
}

.col-date {
	width: 30px !important;
}

.name-section {
	margin-top: 5px;
	line-height: 18px;
}

.company-line {
	border-bottom: 0.5px solid #000000;
	width: 262px;
}

.staff-line {
	border-bottom: 0.5px solid #000000;
	width: 428px;
}

td.width-normal {
	width: 40px;
}

td.remark {
	width: 35px !important;
}

td.col-reason {
	width: 80px !important;
}

td.col-first {
	width: 30px !important;
}

.bg-red {
  background: #FFC000!important; 
}

.bg-yellow {
  background: #FFFF00; 
}
