@font-face {
  	font-family: 'Yu Gothic';
  	font-style: normal;
    font-weight: normal;
  	src: url('../fonts/yugothic.ttf') format('truetype');
}
* {
  font-family: 'Yu Gothic';
  font-size: 10px;
}

body {
  font-size: 10px;
  color: #000000;
  width: 1200px;
}


.container {
	width: 1200px;
}

table {
	margin-top: 18px;
	width: 100%;
	border-left: 0.5px solid #000000;
	border-top: 0.5px solid #000000;
}

tr{
 text-align:center;
 vertical-align:middle;
}

td{
 text-align:center; 
 vertical-align:middle;
 height: 25px;
 border-right: 0.5px solid #000000;
 border-bottom: 0.5px solid #000000;
}

tr.old {
	background: #ccecff;
}

.header {
	background: #D9D9D9;
	height: 35px;
}

.bottom-line {
	border-bottom: 2px solid #000000;
}

.col-name {
	width: 45px;
}

.name-section {
	margin-top: 5px;
	line-height: 18px;
}

.company-line {
	border-bottom: 0.5px solid #000000;
	width: 262px;
}

.staff-line {
	border-bottom: 0.5px solid #000000;
	width: 428px;
}

td.col-normal {
	width: 53px; min-width:50px; 
}

td.remark {
	width: 60px !important;
}

td.col-total {
	width: 50px !important;
}

.bg-red {
  background: #FFC000!important; 
}

.bg-yellow {
  background: #FFFF00; 
}